{% extends "newgrace/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_content %}
<h3>Add Region</h3>
<div id="message" class="alert alert-danger hidden" role="alert"></div>
{% gizmo text_input region_name_input %}
<h5>Thredds Server Location</h5>
<em>Where the region shapefile is stored.</em><br/><br/>
{% gizmo select_input thredds_select %}
<p class="help-block">Don't see the thredds you want? Add one here.</p>
<div class="form-group shp_upload">
    <label class="control-label" for="shp-upload-input">Shapefile File (Required):</label>
    <input id="shp-upload-input" name="shp-upload-input" type="file" accept=".shp,.shx,.prj,.dbf" multiple>
</div>
{% gizmo button add_button %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'newgrace/js/add_region.js' %}" type="text/javascript"></script>
{% endblock %}
