{% extends "newgrace/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
<h1>Welcome</h1>
<p>This app produces basic maps and timeseries using data from the <a href="https://www.jpl.nasa.gov/missions/gravity-recovery-and-climate-experiment-grace/" target="_blank">GRACE mission</a></p>
{% if regions_length > 0 %}
<form action="{% url 'newgrace:region' %}" method="get">
    <p>Select a region from the dropdown below to view timeseries and an interactive map.</p>
    {% gizmo select_input region_select %}
    <div class="btn-group ">
        <a name="submit-go-to-map" class="btn btn-success" role="button" onclick="document.forms[0].submit();" id="submit-go-to-map">
            <span class="glyphicon glyphicon-play"></span>View Region
        </a>
    </div>
</form>
{% if user.is_superuser or user.is_staff %}
<p class="help-block">Don't see the region you want? Add one
    <a href="{% url 'newgrace:add-region' %}">here</a>.</p>
{% endif %}
{% else %}
<div class="alert alert-warning" role="alert">Sorry. There appear to be no regions.</div>
{% if user.is_superuser or user.is_staff %}
<p>To add one click <a href="{% url 'newgrace:add-region' %}">here.</a>
    {% endif %}
    {% endif %}
    {% endblock %}



{% block app_actions %}

{% endblock %}
